.eventConfigurationContainer {
  border: 1px solid rgb(145, 141, 141);
  padding: 10px;
  height: 200px;
  width: 230px;
  background-color: rgb(208, 215, 219);
  right: 50%;

  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.closeButton {
  float: right;
}

.ok-btn {
  position: fixed;
  top: 8px;
}
