.modal {
  display: block;
  background-color: white;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 320px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}
