/* .container { */
/* position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  top: 50px; */
/* position: absolute;
  top: 10px;
  left: 10px;
} */

/* select {
  background-color: rgb(228, 191, 226);
  height: 5vh;
  border-color: rgb(134, 82, 117);
  border-radius: 10px;
  width: 20vh;
} */

.dropdown-toggle {
  background-color: rgb(228, 191, 226);
  height: 5vh;
  border-color: rgb(134, 82, 117);
  border-radius: 10px;
  width: 20vh;
  position: fixed;
  top: 25px;
  left: 20px;
}

.dropdown-menu {
  position: fixed;
  top: 50px;
}
.dropdown-menu :hover {
  background-color: rgb(214, 214, 221);
  border: 5px solid rgb(214, 214, 221);
}

li {
  list-style-type: none;
  height: 8vh;
  background-color: rgb(252, 252, 252);
  width: 250px;
  box-shadow: 0px 2px 8px rgba(128, 14, 110, 0.2);
  border: 0.2px solid rgb(255, 254, 255);
  text-align: center;
  text-justify: distribute;
}

.link {
  text-decoration: none;
  color: #000;
}

.container {
  background-color: rgb(236, 236, 236);
  height: 100%;
  min-height: 700px;
  box-shadow: 1px 1px 1px 1px rgb(167, 132, 163);
  border: 8px;
  border-color: coral;
}
