body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.general,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.general-content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  height: 350px;
  max-width: 300px;
  min-width: 300px;
  min-height: 380px;
  max-height: 300px;
  background-color: rgb(220, 165, 202);
  border: 2px solid rgb(89, 46, 87);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}

.cont {
  position: absolute;
  bottom: 40px;
  right: 1px;
}

.close-modal {
  /* bottom: 10px;
  right: 10px;  */
  background-color: rgb(179, 179, 179);
  color: white;
  padding: 4px 10px;
  padding-top: 1px;
  border-radius: 4px;
  border-color: #5d5e5f;
  font-weight: bold;
  height: 25px;
  position: relative;
  bottom: -35px;
  z-index: 1;
  right: 2px;
}

.close-btn {
  position: relative;
  /* z-index: 1; */
  right: -280px;
  /* padding: 4px 10px; */
  padding-top: 1px;
  bottom: 0px;
  background-color: rgb(220, 165, 202);
  border-color: rgb(220, 165, 202);
  border: 0;
}

.nav-title {
  display: -moz-deck;
  margin-top: 0;
  padding: 3px;
  background-color: rgb(179, 179, 179);
  width: 250px;
  height: 20px;
  line-height: 30px;
  box-shadow: 1px 1px 0px 0px rgb(89, 46, 87);
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.general {
  font-weight: 500;
}

.close-sym {
  font-size: 18px;
  float: right;
}

.SelectC {
  width: 300px;
  bottom: -90px;
  padding-left: 10px;
}

.SelectW {
  width: 300px;
  bottom: -120px;
  padding-left: 10px;
}

.color {
  position: fixed;
  bottom: 325px;
  padding-left: 10px;
}

.workflow {
  position: fixed;
  bottom: 240px;
  padding-left: 10px;
}

.break {
  position: fixed;
  bottom: 70px;
  padding-left: 10px;
}

.breakB {
  position: fixed;
  bottom: 70px;
  right: 16px;
}

.disable {
  position: fixed;
  bottom: 30px;
  padding-left: 10px;
}

.disableW {
  position: fixed;
  bottom: 32px;
  right: 16px;
}

.onlyWhen {
  position: fixed;
  bottom: 150px;
  padding-left: 10px;
}
