.newFolder {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 300px;
  min-width: 250px;
  min-height: 150px;
  max-height: 200px;
  background-color: rgb(220, 165, 202);
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}

.ok {
  position: fixed;
  bottom: 26px;
}

.cancel {
  position: fixed;
  bottom: 26px;
  right: 10px;
}
