.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: rgb(217, 215, 215);
  border: 0.5px solid #888;
  padding: 2px;
  /*border-radius: 5px; */
  margin: 2px auto;
  /* margin-bottom: 50px; */
  /*padding: 14px 28px;
  border-radius: 3px; */
}

/* .modal-content {
  display: block;
  background-color: white;
  margin: 1px auto;
  padding: 2px;
  border: 1px solid #888;
  width: 20px;
  max-width: 10px;
  border-radius: 5px;
} */

.newFolder {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 200px;
  min-width: 100px;
  min-height: 150px;
  max-height: 200px;
  background-color: rgb(220, 165, 202);
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}

.close {
  display: none;
  position: fixed;
  top: 100px;
  bottom: 20px;
  left: 0px;
  right: 100;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  padding: 24px 348px;
}

.dropdown-content li:hover {
  width: 2px;
  background-color: rgb(235, 195, 227);
  /* height: 5px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(217, 215, 215);
  width: 100px;
  box-shadow: 0px 2px 8px rgb(217, 215, 215);
  z-index: 1;
  border: 2px solid rgb(215, 214, 214);
}

.dropdown-content::-webkit-scrollbar {
  width: 1px;
}
