body.active-modal {
  overflow-y: hidden;
}



.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.ele1,
.ele2,
.ele3 {
  line-height: 38px;
}

.ele1:hover {
  display: block;
  background-color: rgb(167, 166, 166);
  width: 250px;
}

.ele2:hover {
  display: block;
  background-color: rgb(167, 166, 166);
  width: 250px;
}

.ele3:hover {
  display: block;
  background-color: rgb(167, 166, 166);
  width: 250px;
}
.token-box:hover {
  border: 1px solid rgb(15, 14, 14);
}

.token-flex {
  display: flex;
  padding: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(199, 170, 196);

  box-shadow: 0 2px 8px rgb(214, 158, 197);
}

.token-box {
  color: rgb(13, 1, 1);
  border: 1px dashed rgb(4, 0, 0);
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
  width: 140px;
  height: 140px;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;

  background-color: white;
}

.dropdown-content li {
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  cursor: pointer;
  width: 200px;
  scroll-behavior: smooth;
}

.dropdown-content li:hover {
  width: 200px;
  background-color: rgb(235, 195, 227);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(217, 215, 215);
  width: 250px;
  box-shadow: 0px 2px 8px rgba(5, 4, 4, 0.2);
  z-index: 1;
  border: 2px solid rgb(215, 214, 214);
}

.dropdown-content::-webkit-scrollbar {
  width: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.modal-content {
  display: block;
  background-color: white;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
   max-width: 320px;
position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}


.close {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaaaaa;
  cursor: pointer;
}

.event {
  border: #740505 solid 20px;
}
