.modalAuthSoap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 26px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px 3px rgb(207, 169, 201);
}

.modal-contentAuthSoap {
  width: 100%;
}

.btn_okSoap {
  background-color: rgb(176, 138, 167);
  border: none;
  margin: 5px;
}

.btn_okSoap:hover {
  background-color: #9f7e95;
}

.btn_cancelSoap {
  background-color: rgb(255, 255, 255);
  border: none;
}

.btn_cancelSoap:hover {
  background-color: #ccc4c9;
}
