.webSoap {
  height: 80vh;
  display: block;
  background-color: white;
  margin: 10% auto;
  border: 1px solid #888;
  width: 100%;
  max-width: 900px;
  max-height: 80%;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
  overflow: auto;
}

.OK-webSoap {
  border: none;
  background-color: rgb(232, 153, 218);
  color: rgb(255, 255, 255);
  height: 5vh;
  width: 7vh;
  border-radius: 5px;
}

.testRequestSoap {
  border: none;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  border-radius: 2px;
  color: rgb(9, 11, 167);
  margin-left: 10px;
}
.testRequestSoap:hover {
  background-color: rgb(210, 210, 216);
  border: 5px solid rgb(210, 210, 216);
}

.add-parameterSoap {
  border: none;
  background-color: #e3b4e1;
  height: 5vh;
  margin: 10px;
  border-radius: 4px;
  position: fixed;
  left: 160px;
  top: 320px;
}
.popupSoap {
  display: flex;
  position: relative;
  padding: 1rem;
  margin: 2rem 0;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(199, 170, 196);
  width: 100%;
  max-height: 80px;
  max-width: 40%;
  box-shadow: 0 2px 8px rgb(214, 158, 197);
}

.closeSoap {
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  border: none;
  background: transparent;
  text-align: center;
  font-size: 20px;
  size: 50px;
}

.button-containerSoap {
  display: flex;
}

.yesSoap {
  margin-right: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(161, 112, 159);
  border: none;
}

.yesSoap:hover {
  background-color: #896087;
}
.noSoap {
  position: relative;
  color: rgb(250, 250, 250);
  background: transparent;
  border: none;
  size: 20px;
}

.noSoap:hover {
  background-color: rgb(230, 201, 229);
}

.container0Soap {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.container1Soap {
  border: 2px solid #eec7e4;
  background-color: #ecd7eb;
  border-radius: 5px;
  padding: 26px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container2Soap {
  border: 2px solid #ccc;
  background-color: #ecd7eb;
  border-radius: 5px;
  padding: 100px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container2Soap .container1Soap span {
  font-size: 20px;
  margin-right: 15px;
}

/* 
.container0 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-right: 20px;
} */

.parameter-containerSoap {
  display: flex;
  flex-direction: row;
}

.request-parametersSoap {
  flex: 1;
  border: none;
  background-color: #ecd7eb;
  font-size: medium;
  position: sticky;
  top: 200px;
}

.response-parametersSoap {
  flex: 1;
  margin-left: 500px;
  border: none;
  background-color: #ecd7eb;
  font-size: medium;
}

.responseSoap {
  background: transparent;
  border: none;
  font-size: small;
  position: fixed;
  top: 300px;
  left: 620px;
  font-size: 16px;
}

.requestSoap {
  background: transparent;
  border: none;
  position: fixed;
  top: 300px;
  font-size: 16px;
}

.request-modalSoap {
  position: fixed;
  top: 10rem;
  left: 12rem;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(214, 158, 197);
  box-shadow: 5px 5px 5px 3px rgb(214, 158, 197);
}

.request-modal-contentSoap {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.cancel-webSoap {
  border: none;
  margin-left: 10px;
}

hr {
  position: fixed;
  top: 100px;
}

.response-modalSoap {
  position: fixed;
  top: 10rem;
  left: 12rem;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(214, 158, 197);
  box-shadow: 5px 5px 5px 3px rgb(214, 158, 197);
}

.response-modal-contentSoap {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
