.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-area {
  flex: 0.8;
  width: 600px;
}

select {
  width: 80px;
  height: 30px;
}

.outline {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 300px;
  min-width: 1100px;
  min-height: 500px;
  max-height: 200px;
  background-color: rgb(220, 165, 202);
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}
