table {
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  margin: 5px;
}

th,
td {
  border: none;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th:hover {
  color: rgb(111, 4, 18);
}
