.modal-overlaySoap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSoap {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 400px;
}

.ok-button {
  margin: 10px;
  border: none;
  background-color: rgb(188, 147, 179);
  font-size: 16px;
}

.ok-button:hover {
  background-color: rgb(175, 145, 172);
}

.close-button {
  border: none;
  background-color: rgb(228, 227, 228);
  font-size: 16px;
}

.close-button:hover {
  background-color: rgb(183, 181, 182);
}
