.container {
  display: flex;
  background-color:rgb(230, 193, 228);
  border:2px rgb(238, 160, 228) solid;
  width: 100%;
  margin-right: 10%;
  height: 100%;
}

.container label {
  display: inline-block;
padding: 20px;;
 
  vertical-align: top;
}

.save {
  background-color: rgb(122, 212, 122);
  height: 40px;
}

.cancel{
  background-color: rgb(226, 226, 228);
  height: 40px;
}

.containerTwo{
  /* display: flex-box; */
  background-color:rgb(230, 193, 228);
  border:2px rgb(238, 160, 228) solid;
  width: 100%;

  
  
 
}