.container_0 {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.container_1 {
  border: 2px solid #eec7e4;
  background-color: #ecd7eb;
  border-radius: 5px;
  padding: 26px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_2 {
  border: 2px solid #ccc;
  background-color: #ecd7eb;
  border-radius: 5px;
  padding: 100px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container_2 .container_1 span {
  font-size: 20px;
  margin-right: 15px;
}

.form1,
.form2,
.form4,
.form5 {
  width: calc(50% - 10px);
  display: inline-block;
  margin-bottom: 10px;
}

.form3 {
  clear: both;
}

.form6,
.form7 {
  width: calc(50% - 10px);
  display: inline-block;
  margin-bottom: 10px;
}

.form7 {
  float: right;
}

.save {
  background-color: rgb(82, 205, 57);
  height: 5vh;
  border: none;
  border-radius: 2px;
  width: 10vh;
  color: white;
  margin: 10px;
}

.save:hover {
  background-color: rgb(79, 183, 34);
}

.cancel {
  background-color: rgb(255, 255, 255);
  height: 5vh;
  border: none;
  border-radius: 2px;
  width: 10vh;
  color: rgb(9, 11, 167);
  margin: 10px;
}

.cancel:hover {
  background-color: rgb(210, 210, 216);
  border: 5px solid rgb(210, 210, 216);
}

.line {
  background: "#6F38C5";
  height: "5px";
  border: "none";
}

.method {
  background-color: #ecd7eb;
  font-size: medium;
  position: fixed;
  top: 300px;
  left: 20px;
  border: none;
  cursor: pointer;
}

.authentication {
  background-color: #ecd7eb;
  font: 100px;
  margin-right: 1020px;
  border: none;
  position: fixed;
  top: 300px;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
}

.web_service {
  background-color: #ecd7eb;
  font-size: 15px;
  margin-right: 1020px;
  border: none;
  position: fixed;
  top: 340px;
  left: 20px;
  cursor: pointer;
}
