.newFolder {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 200px;
  min-width: 100px;
  min-height: 150px;
  max-height: 200px;
  background-color: rgb(220, 165, 202);
  border: 2px solid rgb(220, 165, 202);
  box-shadow: 0 2px 8px rgb(232, 153, 218);
}

.closed {
  display: none;
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 150px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  padding: 24px 348px;
}
