.token-flex {
  display: flex;
  padding: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(199, 170, 196);

  box-shadow: 0 2px 8px rgb(214, 158, 197);
}

.token {
  color: rgb(13, 1, 1);
  border: 1px solid rgb(4, 0, 0);
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
  width: 140px;
  width: 140px;
  height: 140px;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;

  background-color: rgb(190, 244, 236);
}

.trash {
  position: relative;
  bottom: -110px;
}
